<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="light dark" />
    <style>
      body {
        margin: 16px
      }

      body {
        font-family: sans-serif
      }

      a {
        text-decoration: none
      }

      li {
        font-size: large
      }

      li {
        margin-bottom: 8px
      }

      ul {
        padding-inline-end: 40px
      }

      li :nth-child(2) {
        margin-right: 6px
      }
    </style>
  </head>
  <body>
    {{#githubPages.length}}
    <h2>
      List of github pages hosted by
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://github.com/{{githubUser}}"
      >
        {{githubUser}}
      </a>
    </h2>
    <ul>
      {{#githubPages}}
      <li>
        {{name}}
        <br />
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/{{githubUser}}/{{name}}"
        >
          repo
        </a>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://{{githubUser}}.github.io/{{name}}/"
        >
          page
        </a>
      </li>
      {{/githubPages}}
    </ul>
    {{/githubPages.length}}
    {{#npmPackages.length}}
    <h2>
      List of npm packages published by
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.npmjs.com/~{{npmUser}}"
      >
        {{npmUser}}
      </a>
    </h2>
    <ul>
      {{#npmPackages}}
      <li>
        {{name}}
        <br />
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/{{githubUser}}/{{repo}}"
        >
          repo
        </a>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.npmjs.com/package/{{name}}"
        >
          pkg
        </a>
      </li>
      {{/npmPackages}}
    </ul>
    {{/npmPackages.length}}
  </body>
</html>
